.Contenedor1,.calculadora{
display: flex;
justify-content: left;

}
body{
	background-color: lightblue;
	border-radius: 10px;
	border:none;
}
.line{
	  text-decoration: underline;
  text-decoration-color: blue;
  font-family: Courier;
  margin-top: 10px;
}
.columna1{
margin: 0 40px;

padding:10px;
}

.columna2,.columna3,.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8{

width: 10%;
padding: 8px;
}
.texto3{
	border: 1px black solid;
  	background-color: blue;
  	height: 4.6%;
  	font-family: Courier;

}
.col1{
	margin-bottom: 10%;
}
input{
	width: 70%;
}


.tx1{
	margin-bottom: 25px;
}
.tx2,.tx3,.tx4,.tx5,.tx6,.tx7,.tx8,.tx9,.tx10,.tx11,.tx12,.tx13{
	margin-bottom: 19px;
}

.texto{
margin-bottom: 16px;
}

.U{
	width: 50%;
	padding :2%;
}
.un{
padding:0.4%;
}
.cerrar{
	text-align: right;
	background-color: #4CAF50;
		color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.styletexto{
	margin-left: 10px;
	padding-top: 1%;
	font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	border: 2px solid #000; /* Grosor y tipo de borde */
	border-radius: 15px; /* Radio de las esquinas redondeadas */
	padding: 10px; /* Espaciado dentro del borde */
  	width: 500px; /* Ancho del contenedor */
	text-align: center; /* Centrar el texto */
	margin: 0 auto; /* Centrar el contenedor */
	background-clip: padding-box; /* Colorear el interior del borde */
	background-color:rgb(58, 58, 211); /* Color del fondo del borde */
}

.enlace {
	margin-left: 10px;
	padding-top: 1%;
	font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	border: 2px solid #000; /* Grosor y tipo de borde */
	border-radius: 15px; /* Radio de las esquinas redondeadas */
	padding: 10px; /* Espaciado dentro del borde */
  	width: 700px; /* Ancho del contenedor */
	text-align: center; /* Centrar el texto */
	margin: 0 auto; /* Centrar el contenedor */
	background-clip: padding-box; /* Colorear el interior del borde */
	background-color:rgb(58, 58, 211); /* Color del fondo del borde */
	margin-top: 20px;
}
.table{
	border-collapse: collapse; /* Colapsar bordes */
  	width: 100%; /* Ancho de la tabla */
	margin-top: 20px;
}

.table th, .table td {
	border: 1px solid #000; /* Grosor y color del borde */
	text-align: center; /* Alineación del texto */
	padding: 4px; /* Espaciado interno de celdas */
	
}

.table th[scope="row"] {
	width: 15%;
	background-color: #4CAF50;

}
.table th[scope="col"]{
	background-color: #4CAF50;
}
.boton {
	padding: 13px 24px;
	background-color: #4CAF50; /* Cambia el color aquí */
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 40px;

  }

  .texto{
  	border: 1px black solid;
  	background-color: blue;
  	height: 5%;
  	padding: 1.2px;
  	font-family: Courier;
	
  }
  .texto1{
  	padding:2.2%;
  	font-family: Courier;

  }